<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- WinAmp General Options -->
    <add key="Winamp.ProgramDirectory" value="C:\Program Files\Winamp\"/>
    <add key="Winamp.PlaylistDirectory" value="C:\Program Files\Winamp\"/>

    <!-- WWWinamp General Configuration Options -->
    <add key="WWWinamp.StartMinimized" value="false"/>
    <add key="WWWinamp.StartHTTP" value="true"/>
    <add key="WWWinamp.StartWCF" value="false"/>

    <!-- WWWinamp Media Configuration Options -->
    <add key="WWWinamp.Media.CoverArtImage" value="FIRST_FOUND"/>
    <add key="WWWinamp.Media.HomeDirectory" value="C:\mp3\"/>
    <add key="WWWinamp.Media.FileTypes" value=".mp3;.ogg;.mp2;.flac"/>
    <add key="WWWinamp.Media.PlaylistDirectory" value="C:\WWWinamp\"/>
    
    <!-- WWWinamp WCF Configuration Options -->
    <add key="WWWinamp.WCF.ListeningIP" value="localhost"/>
    <add key="WWWinamp.WCF.ListeningPort" value="8080"/>
    <add key="WWWinamp.WCF.Authentication" value="admin"/>
    <add key="WWWinamp.WCF.SendErrorsToClient" value="true"/>

    <!-- WWWinamp HTTP Configuration Options -->
    <add key="WWWinamp.HTTP.ListeningIP" value="DEFAULT"/>
    <add key="WWWinamp.HTTP.ListeningPort" value="81"/>
    <add key="WWWinamp.HTTP.AllowDirectoryListing" value="true"/>
    <add key="WWWinamp.HTTP.DefaultFile" value="index.html"/>
    <add key="WWWinamp.HTTP.ResultsPerPage" value="40"/>
    <add key="WWWinamp.HTTP.AdminLogin" value="admin:admin"/>
    <add key="WWWinamp.HTTP.CompressionType" value="deflate"/>
    <add key="WWWinamp.HTTP.CompressionFileTypes" value=".html;.htm;"/>
    <add key="WWWinamp.HTTP.HomeDirectory" value="C:\WWWinamp\WebRoot\"/>

    <!-- These commands may be executed by only an Administrator -->
    <add key="WWWinamp.HTTP.Commands.startwinamp" value="true"/>
    <add key="WWWinamp.HTTP.Commands.repeat" value="true"/>
    <add key="WWWinamp.HTTP.Commands.shuffle" value="true"/>
    <add key="WWWinamp.HTTP.Commands.volume" value="true"/>
    <add key="WWWinamp.HTTP.Commands.balance" value="true"/>
    <add key="WWWinamp.HTTP.Commands.clear" value="true"/>
    <add key="WWWinamp.HTTP.Commands.rescan" value="true"/>
    <add key="WWWinamp.HTTP.Commands.shutdown" value="true"/>
    <add key="WWWinamp.HTTP.Commands.closewinamp" value="true"/>
    <add key="WWWinamp.HTTP.Commands.restartwinamp" value="true"/>
    <add key="WWWinamp.HTTP.Commands.saveplaylist" value="true"/>
    <add key="WWWinamp.HTTP.Commands.download" value="true"/>

    <!-- These commands may be executed by anyone -->
    <add key="WWWinamp.HTTP.Commands.stop" value="false"/>
    <add key="WWWinamp.HTTP.Commands.play" value="false"/>
    <add key="WWWinamp.HTTP.Commands.skipfwd" value="false"/>
    <add key="WWWinamp.HTTP.Commands.skipback" value="false"/>
    <add key="WWWinamp.HTTP.Commands.pause" value="false"/>
    <add key="WWWinamp.HTTP.Commands.addfile" value="false"/>
    <add key="WWWinamp.HTTP.Commands.addfolder" value="false"/>
    <add key="WWWinamp.HTTP.Commands.jumppos" value="false"/>
    <add key="WWWinamp.HTTP.Commands.moveup" value="false"/>
    <add key="WWWinamp.HTTP.Commands.movedown" value="false"/>
    
  </appSettings>

	<system.serviceModel>
		<services>
			<service name="ENusbaum.Applications.WWWinamp.Classes.WCFService.WWWinampWCFService" behaviorConfiguration="returnFaults">
				<endpoint contract="ENusbaum.Applications.WWWinamp.Classes.WCFService.IWCFService" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingConfiguration"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="returnFaults" >
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!-- BINDINGS -->
		<bindings>
			<wsHttpBinding>
				<binding name="wsHttpBindingConfiguration">
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
  </system.serviceModel>
</configuration>